:root {
  --grey: #787878;
  --grey-icons: #a0a0a0;
  --light: #f5f5f4;
  --white: #fff;
  --green: #94C017;
  --light-green: #9cc91c;
  --black: #181818;

}

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: PTSansCaption;
  src: url("../fonts/PTSansCaption-Regular.ttf");
}

@font-face {
  font-weight: 600; /* Соответствует значению bold */
  font-family: Manrope;
  src: url("../fonts/Manrope-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey);
  background-color: var(--white);
  padding: 15px;
}

body {
  max-width: 1345px;
  background-color: var(--light);
  padding: 40px;
  border-radius: 20px;
}

header {
 display: inline-block;
}

h1 {
  font-family: PTSansCaption, sans-serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 74px;
  letter-spacing: -0.03em;
  color: var(--black);
  margin: 40px 0;
}

.nav-bar {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  line-height: 19px;
}

.nav-bar a {
  color: var(--green);
  text-decoration: underline;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 19px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, max-content);
  overflow-x: hidden;
  margin-right: -40px;
  column-gap: 15px;
}

a.icons {
  color: var(--grey-icons);
  width: 15px;
  height: 19px;
  text-decoration: none;
}

.mb-40 {
  margin-bottom: 40px;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 38px;
  background: var(--white);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
}

.btn-nav.prev::before {
  font-size: medium;
  font-weight: bold;
  content: "❮";
}

.btn-nav.next::before {
  font-size: medium;
  font-weight: bold;
  content: "❯";
}

.btn-nav:hover {
  background-color: var(--light-green);
  color: var(--light);
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.btn-group {
  display: flex;
  flex-direction: row;
  column-gap: 19px;
  width: 97px;
  height: 38px;
  margin-bottom: 5px;
}

.symb {
  font-size: medium;
  font-weight: bold;
}

.img {
  display: inline-block;
  border: 7px solid var(--white);
  border-radius: 15px;
}

.hidden {
  display: none;
}

.first-img {
  width: 431px;
  height: 297px;
}

.row-2 {
  grid-row: span 2;
}

.second-img {
  width: 290px;
  height: 200px;
}

.third-img {
  width: 290px;
  height: 200px;
}

.fournh-img {
  width: 290px;
  height: 200px;
}

.row-1 {
  grid-row: span 1;
}

.footer {
  grid-row: 2 / -1;
  grid-column: 2 / 5;
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  justify-content: end;
  margin-right: 114px;
  column-gap: 43px;
  margin-top: 50px;
  height: 59px;
}

.get-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;  
  width: 192px;
  height: 59px;
  background: var(--light-green);
  border-radius: 15px;
  text-decoration: none;
}

.arrow {
  color: var(--white);
  display: flex;
  column-gap: 46px;
  align-items: center;
}

.arrow::after {
  border: 4px solid transparent;
  display: inline-flex;
  border-left: 6px solid var(--white);
  border-right: none;
  content: '';
}

@media (min-width: 1410px) {
  .first-img {
    width: 479px;
    height: 330px;
  }
  
  .row-2 {
    grid-row: span 2;
  }
  
  .second-img {
    width: 322px;
    height: 222.31px;
  }
  
  .third-img {
    width: 322px;
    height: 222.31px;
  }
  
  .fournh-img {
    width: 322px;
    height: 222.31px;
  }

  .footer {
    margin-right: 181px;
  }
}

@media (min-width: 1600px) {
  body {
    max-width: 1585px;
  }
  .first-img {
    width: 541px;
    height: 373px;
  }
  
  .row-2 {
    grid-row: span 2;
  }
  
  .second-img {
    width: 364px;
    height: 251px;
  }
  
  .third-img {
    width: 364px;
    height: 251px;
  }
  
  .fournh-img {
    width: 364px;
    height: 251px;
  }

  .footer {
    margin-right: 189px;
  }
}

@media (min-width: 1920px) {
  body {
    max-width: 1905px;
  }
  .first-img {
    width: 646px;
    height: 445px;
  }
  
  .row-2 {
    grid-row: span 2;
  }
  
  .second-img {
    width: 434px;
    height: 300px;
  }
  
  .third-img {
    width: 434px;
    height: 300px;
  }
  
  .fournh-img {
    width: 434px;
    height: 300px;
  }

  .footer {
    margin-right: 184px;
  }
}
